{% extends 'Account/base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-capitalize mt-3 mb-2" style="color:#04371a; font-size: 24px;">{{ request.user.username }}</h1>
    <h3 class="text-capitalize mb-3 text-center" style="color:#ff7c1a; font-size: 24px;">your items</h3>

    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                <a class="text-decoration-none" href="{% url 'product:product_details' product.id %}">
                <div class="card mb-4 text-capitalize">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="height: 200px; object-fit: cover; width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Price: ${{ product.price }}</li>
                        <li class="list-group-item">Quantity: {{ product.quantity }}</li>
                    </ul>
                </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}


