{% extends 'Account/base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            {% for item in cart_items %}
            <div class="card mb-3">
                <div class="card-body text-capitalize">
                    <h2 class="card-title text-capitalize">{{ item.product.name }}</h2>
                    <p class="card-text">Each at: {{ item.product.price }} </p>
                    <p class="card-text">Each unit has: {{ item.product.quantity }} {{ item.product.name }}</p>
                    <p class="card-text">Units: {{ item.units }}</p>
                    <p class="card-text">Price (per unit): Kshs.{{ item.product.unit_price }}</p>

                    <div class="row" style="max-width: 120px"  >
                        <div class="col">
                            <form method="post" action="{% url 'cart:increment_units' item.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary" >+</button>
                            </form>
                        </div>

                        <div class="col">
                            <form method="post" action="{% url 'cart:decrement_units' item.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-warning">-</button>
                            </form>
                        </div>
                    </div>

                    <a href="{% url 'cart:removefromcart' item.id %}" class="btn mt-3" style="background-color:#ff7c1a; color:white">Remove from Cart</a>
                </div>
            </div>
            {% endfor %}

            <h4>Total Price: Kshs.{{ total_price }}</h4>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="{% url 'cart:mpesa_pay' request.user.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="phone_number">Enter Phone Number:</label>
                            <input type="text" name="phone_number" id="phone_number" class="form-control" required>
                        </div>
                        <button type="submit" class="btn border-0 mt-2" style="background-color:#9cd11a; color:white">Pay with M-Pesa</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
