{% extends 'Account/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        {% for product in products %}
        <div class="col-md-3">
            <div class="card mt-3 border-0 shadow-sm">
                <a class="text-decoration-none" href="{% url 'product:product_details' product.id %}">
                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" style="height: 200px; object-fit: cover; width: 100%; border-top-left-radius:10px; border-top-right-radius:10px;">
                    <div class="card-body">
                        <h2 class="card-title text-black text-capitalize fs-6 mb-1">{{ product.name }}</h2>
                        <p class="card-text text-dark fw-2">Desc: {{ product.description|truncatewords:5 }}</p>
                        <p class="card-text text-danger fw-2">Price: Kshs.{{ product.unit_price }}</p>
                    </div>

                    <div class="cart m-3" style="width: 50px;">
                        </a>
                        <a href="{% url 'cart:addtocart' product.id %}" class="text-decoration-none">
                            <i class="fa-solid fa-shopping-cart"></i>
                        </a>
                    </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="d-flex justify-content-center m-4">
    <a href="{% url 'product:more_products' %}" class="btn btn-primary">View More Products</a>
</div>

<footer class="footer mt-3 py-3" style="background-color: rgb(222, 233, 222);">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>Contact Us</h5>
          <p>845 Redhill Street, Nairobi, Kenya</p>
          <p>Email: info@farmersmarket.com</p>
          <p>Phone: (254) 727-823124</p>
        </div>
        <div class="col-md-6">
          <h5>Follow Us</h5>
          <a href="#"><i class="fab fa-facebook"></i> Facebook</a><br>
          <a href="#"><i class="fab fa-twitter"></i> Twitter</a><br>
          <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
        </div>
      </div>
    </div>
  </footer>

{% endblock content %}
