{% extends 'Account/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-3 border" style="border-radius: 10px;">
    <div class="row">
        {% for product in products %}
        <div class="col-md-2">
            <div class="card mt-3">
                <a class="text-decoration-none" href="{% url 'product:product_details' product.id %}">
                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" style="height: 200px; object-fit: cover; width: 100%;">
                    <div class="card-body text-success">
                        <h2 class="card-title text-black text-capitalize fs-6">{{ product.name }}</h2>
                        <p class="card-text text-danger fw-2">Price: ${{ product.unit_price }}</p>
                    </div>
                </a>
                <a href="{% url 'cart:addtocart' product.id %}" class="text-decoration-none color-warning">
                    <i class="fa-solid fa-shopping-cart"></i>
                </a>
            </div>
        </div>
        
        
        {% endfor %}
    </div>
</div>
{% endblock content %}
