{% extends 'Account/base.html' %}


{% block content %}
<a href="{% url 'Account:signin' %}">Sign in</a>

        {% for product in products %}
        <div>
            <a href="{% url 'product:product_details' product.id %}">
                <h2>{{ product.name }}</h2>
                <div style="color: blue;" >
                    <img  width="100" height="100" src="{{ product.image.url }}" alt="">
                </div>
                <p>{{ product.unit_price }}</p>
                <!-- <p>{{ product.quantity }}</p> -->
                <!-- <p>{{ product.description }}</p> -->
            </a>
        </div>
        {% endfor %}

{% endblock content %}
