{% extends 'Account/base.html' %}

{% load crispy_forms_tags %}


{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <form method="get" action="{% url 'product:product_search' %}">
                <div class="form-row align-items-center m-2">
                    <div class="col-md-3">
                        {{ form.name.label_tag }}
                        {{ form.name }}
                    </div>
                    <div class="col-md-3 mt-2">
                        {{ form.location.label_tag }}
                        {{ form.location }}
                    </div>
                    <div class="col-md-3 mt-2">
                        {{ form.category.label_tag }}
                        {{ form.category }}
                    </div>
                    <div class="col-md-3 mt-3">
                        <button type="submit" class="btn btn-warning">Filter &nbsp; <i class="fa-solid fa-filter"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




<div class="container mt-3">
    <div class="row">
        {% for product in products %}
        <div class="col-md-3 p-2">
            <div class="card h-80 mt-3">
                <a class="text-decoration-none" href="{% url 'product:product_details' product.id %}">
                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" style="height: 200px; object-fit: cover; width: 100%;">
                </a>
                <div class="card-body text-capitalize">
                    <h2 class="card-title text-black text-capitalize fs-4">{{ product.name }}</h2>
                    <p class="card-text text-danger fw-2">Price: ${{ product.unit_price }}</p>
                    <p><strong class="fw-bold">Each at:</strong> ${{ product.price }}</p>
                    <p><strong class="fw-bold">Minimum quantity:</strong> {{ product.quantity }}</p>
                    <p><strong class="fw-bold">Minimum order:</strong> {{ product.unit_price }}</p>
                    <p><strong class="fw-bold">Description:</strong> {{ product.description }}</p>
                    <p class="text-capitalize"> <strong class="fw-bold">Location:</strong> {{ product.location }}</p>
                </div>
                <a href="{% url 'cart:addtocart' product.id %}" class="text-decoration-none color-warning">
                    <i class="fa-solid fa-shopping-cart"></i>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}
    
