{% extends 'Account/base.html' %}

{% block content %}



<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
            <h2 class="text-capitalize" >{{ product.name }}</h2>
                <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}" style="height: 400px; object-fit: cover; width: 100%;">
            </div>
        </div>
        <div class="col-md-6 mt-5">
            <h5 class="text-decoration-underline mb-4" style="color: #04371a;">Details:</h5>
            <p> <strong class="fw-bold">Each at:</strong> kshs.{{ product.price }}</p>
            <p> <strong class="fw-bold">Minimum quantity:</strong> {{ product.quantity }}</p>
            <p> <strong class="fw-bold">Minimum order:</strong> {{ product.unit_price }}</p>
            <p class="text-capitalize"> <strong class="fw-bold">Description:</strong> {{ product.description }}</p>
            <p class="text-capitalize"> <strong class="fw-bold">Location:</strong > {{ product.location }}</p>
            {% if request.user.username != product.owner.username %}
                <a href="{% url 'cart:addtocart' product.id %}" class="btn btn-primary mt-3 border-0" style="background-color: #9cd11a;">Add to Cart</a>
            {% endif %}
            {% if request.user.username == product.owner.username %}
                <a href="{% url 'product:update_product' product.id %}" class="btn btn-info">Update</a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Delete
                  </button>

            {% endif %}
        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete this product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{% url 'product:delete_product' product.id %}" class="btn btn-danger" >Delete</a>
                </div>
            </div>
            </div>
        </div>


    </div>
    <h3 class="mt-5 text-center display-8 fw-bold mb-3" style="color: #04371a;">Similar Products</h3>
    <div class="row">
        {% for item in items %}
            <div class="col-md-2 mb-4">
                <div class="card">
                    <a  class="text-decoration-none" href="{% url 'product:product_details' item.id %}">
                        <img class="card-img-top" src="{{ item.image.url }}" alt="{{ item.name }}" style="height: 200px; object-fit: cover; width: 100%;">
                        <div class="card-body">
                            <h2 class="card-title fs-6 text-capitalize text-dark">{{ item.name }}</h2>
                            <p class="card-text" style="color: #ff7c1a;">Price: kshs.{{ item.price }}</p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
