{% extends 'Account/base.html' %}


{% block content %}

    <h1>{{ request.user.username }}</h1>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form }}

        <button type="submit">Save</button>
    </form>

    {% if request.user.username %}
            <a href="{% url 'Account:update_profile' profile.id %}">Update</a>
            <a href="{% url 'Account:delete_profile' profile.id %}">Delete</a>
    {% endif %} 
{% endblock content %}
    