{% load static %}


<style>
  /* Style for navbar */
  .navbar {
      background-color: rgb(222, 233, 222);
      padding: 10px;
  }

  .navbar-brand img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
  }

  .navbar-nav .nav-link {
      color: #333;
      font-weight: bold;
      margin-right: 10px;
  }

  .navbar-nav .active {
      color: #555;
  }

  .navbar-toggler {
      border: none;
      outline: none;
  }

  .navbar-toggler-icon {
      background-color: #333;
  }

  .navbar-nav.ml-auto .nav-item {
      margin-left: 10px;
  }

  .navbar-nav.ml-auto .nav-link {
      /*color: #fff;
      background-color: #333;*/
      border: solid 1px #333;
      padding: 8px 30px;
      border-radius: 50px;
      display: flex;
  }

  .navbar-nav.ml-auto .nav-link:hover {
      background-color: #8ec9b3;
  }
</style>



<nav class="navbar navbar-expand-lg" style="background-color: rgb(222, 233, 222);">
  <div class="container-fluid text-center">
      <a class="navbar-brand" href="{% url 'product:home' %}">
        <img src="{% static 'Account/assets/fmlogo.ico' %}" style="border-radius: 50%; width: 100px; height: 100px" alt="">
      </a>
      <a class="nav-link " href="/product_search/"> <i class="fa-solid fa-magnifying-glass"> &nbsp; </i>Search</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link active border-0" aria-current="page" href="">Home</a>
              </li>
          </ul>

          <div class="container color-white">
            <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'product:create_product' %}"><strong>SELL</strong></a>
                  </li>

                  {% if user.is_authenticated %}
                    <!-- Visible to authenticated users -->
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'cart:cart_detail'  %}">Cart</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'dashboard:index'  %}">Dashboard</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'Account:signout' %}">Sign Out</a>
                    </li>

                  {% else %}
                    <!-- Visible to non-authenticated users -->
                    <li class="nav-item">
                        <a class="nav-link border-0" href="{% url 'Account:signin' %}">Sign In</a>
                      </li>
                        <li class="nav-item">
                      </li>
                          <a class="nav-link border-0" href="{% url 'Account:signup' %}">Sign Up</a>
                    </li>

                  {% endif %}
            </ul>
          </div>

      </div>
  </div>
</nav>
