{% load static %}

<nav class="navbar navbar-expand-lg" style="background-color: rgb(222, 233, 222);">
  <div class="container-fluid text-center">
      <a class="navbar-brand" href="{% url 'product:home' %}">Home <img src="{% static 'Account/assets/fmlogo.ico' %}" alt=""> </a>
      <a class="nav-link" href="/product_search/"> <i class="fa-solid fa-magnifying-glass"> &nbsp; </i>Search</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
              <!-- <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="">Home</a>
              </li> -->
          </ul>
          <div class="container float-right color-white">
            <ul class="navbar-nav ml-auto">
              {% if user.is_authenticated %}
                <!-- Visible to authenticated users -->
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'cart:cart_detail'  %}">Cart</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dashboard:index'  %}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'product:create_product' %}"><strong>SELL</strong></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'Account:signout' %}">Sign Out</a>
                </li>
              {% else %}
                <!-- Visible to non-authenticated users -->
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'Account:signin' %}">Sign In</a>
                </li>
                <li class="nav-item">
                </li>
                    <a class="nav-link" href="{% url 'Account:signup' %}">Sign Up</a>
                </li>
                
              {% endif %}
                
              
              
          </ul>
          </div>
          
      </div>
  </div>
</nav>
